@font-face {
  font-family: "Satisfy";
  src: url(assets/letra.ttf);
}
header {
  font-family: "Satisfy";
  display: flex;
  flex-direction: column;
}
#top {
  display: flex;
  justify-content: space-between;
}
#down {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#barra {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

#car {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
#relleno {
  padding-top: 20px;
}
#titulo {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;

  bottom: 0px;
  width: 100%;
  height: 40px;
  /**
    Suferencias de modificacion de código
    */
  padding-top: 50px;
  padding-bottom: 50px;
}

#form2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form1 {
    display: flex;
    justify-content: space-between;
  }